<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="@Url.Content("~/Content/user/")layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
    
       
        <!-- ################################################################################################ -->
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="fl_left">
                    <ul class="nospace">
                        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="fl_right">
                    <ul class="nospace">
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> EasyMission@domain.com</li>
                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <h1><a href="index.html">EasyMission</a></h1>
                    <p>Now IT IS EASY TO EXCHANGE A SERVICE </p>
                </div>
                <!-- ################################################################################################ -->
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active">@Html.ActionLink("home","index","home")
                        </li>
                        <li>
                           @Html.ActionLink("Bids","Index","Bid")
                      
                        </li> 
                        <li>
                            @Html.ActionLink("My Skills", "Index", "Skill")
                        </li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Forum</a></li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
            </header>
        </div>
      
        <!-- ################################################################################################ -->
        <div class="wrapper bgded overlay" style="background-image:url('../../Content/User/images/newBack.jpg');">
            <div id="pageintro" class="hoc clear">
                <!-- ################################################################################################ -->
                <article>
                    <div>
                        <p class="heading">Welcome in Our web site! </p>
                        <h2 class="heading">IT'S TIME TO EXCHANGE SERVECES</h2>
                        <p>With us you will find any service you need</p>
                    </div>
                    <footer>
                        <ul class="nospace inline pushright">
                            <li><a class="btn inverse" href="#">Add new Bid</a></li>
                            <li><a class="btn" href="#">Add new Event</a></li>
                        </ul>
                    </footer>
                </article>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
      
     <!--   <div class="wrapper row2">
            <div class="hoc container clear"> -->
                <!-- ################################################################################################ -->
            <!--  <ul class="nospace group cta">
                    <li class="one_third first">
                        <article>
                            <strong class="numb">01</strong>
                            <h6 class="heading font-x1"><a href="#">Vulputate ullamcorper</a></h6>
                            <p>Rutrum elit nec tincidunt sed aenean aliquet mauris accumsan eget dui id&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <strong class="numb">02</strong>
                            <h6 class="heading font-x1"><a href="#">Lobortis condimentum</a></h6>
                            <p>Dolor eu suscipit facilisis vestibulum vitae semper nisl vivamus a ligula&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <strong class="numb">03</strong>
                            <h6 class="heading font-x1"><a href="#">Malesuada hendrerit</a></h6>
                            <p>Nulla ut imperdiet metus aliquam iaculis mi in tortor accumsan at lobortis&hellip;</p>
                        </article>
                    </li>
                </ul>-->  
                <!-- ################################################################################################ -->
          <!--  </div>
        </div>--> 
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
      <div class="wrapper row3">
         
            <main class="hoc container clear">  
                @RenderBody()
                <!-- main body -->
                <!-- ################################################################################################ -->
            <!--   <ul class="nospace group services">
                    <li class="one_third first btmspace-30">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-language"></i></a>
                            <h6 class="heading font-x1">Ligula ornare mattis</h6>
                            <p>Mauris vel vehicula lacinia est nunc tincidunt quam sed placerat felis&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third btmspace-30">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-balance-scale"></i></a>
                            <h6 class="heading font-x1">Vestibulum at semper</h6>
                            <p>Vitae neque ac ullamcorper nulla id hendrerit phasellus pretium mi in&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third btmspace-30">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-map-signs"></i></a>
                            <h6 class="heading font-x1">Tincidunt ullamcorper</h6>
                            <p>Lacinia interdum dui diam pharetra velit eget accumsan turpis neque&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third first">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-binoculars"></i></a>
                            <h6 class="heading font-x1">Dolor nec malesuada</h6>
                            <p>Sagittis massa in metus vehicula blandit tellus pulvinar donec&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-paw"></i></a>
                            <h6 class="heading font-x1">Ultrices ut porta sed</h6>
                            <p>Purus elit interdum nibh cursus nisl tellus egestas nunc fusce in&hellip;</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article>
                            <a href="#"><i class="fa fa-4x fa-qrcode"></i></a>
                            <h6 class="heading font-x1">A viverra vestibulum</h6>
                            <p>Id condimentum ligula purus non massa mattis rhoncus cum&hellip;</p>
                        </article>
                    </li>
                </ul>--> 
                <!-- ################################################################################################ -->
                <!-- / main body -->
                <!--<div class="clear"></div>
                <div class="clear"></div>-->
            </main>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper bgded overlay" style="background-image:url('../../Content/User/images/service1.png');">
            <article class="hoc container clear center">
                <!-- ################################################################################################ -->
                <h2 class="font-x3">Our StartUp</h2>
                <p class="btmspace-50">Our Web Site is based on Exchaging service versus service for free &hellip;</p>
                <p class="nospace"><a class="btn medium" href="#">About Us &raquo;</a></p>
                <!-- ################################################################################################ -->
            </article>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row4">
            <footer id="footer" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="one_third first">
                    <h6 class="title">EasyMission</h6>
                    <p>Our Mission is to provide our member all services that the need.</p>
                    <p class="btmspace-15">All is based on exchaging services for free with other persons that have skills that you need</p>
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
                <div class="one_third">
                    <h6 class="title">About US</h6>
                    <ul class="nospace linklist contact">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <address>
                                Rue Said Ben Mousib &amp; 12, Sousse, 4024
                            </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> EasyMission@domain.com</li>
                    </ul>
                </div>
                <div class="one_third">
                    <h6 class="title">Some Events</h6>
                    <ul class="nospace linklist">
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">Vel diam neque nunc</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                                <p class="nospace">Vitae feugiat nisi eget magna at arcu viverra posuere donec aliquam&hellip;</p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">Quis hendrerit libero</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-05">Thirsday, 5<sup>th</sup> April 2045</time>
                                <p class="nospace">Cras auctor metus vel augue gravida ultrices maecenas consectetur&hellip;</p>
                            </article>
                        </li>
                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </footer>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <!-- ################################################################################################ -->
                <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">EasyMission.com</a></p>
              
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
        <!-- JAVASCRIPTS -->
        <script src="@Url.Content("~/Content/user/")layout/scripts/jquery.min.js"></script>
        <script src="@Url.Content("~/Content/user/")layout/scripts/jquery.backtotop.js"></script>
        <script src="@Url.Content("~/Content/user/")layout/scripts/jquery.mobilemenu.js"></script>
    </div>
</body>
</html>
