@model IEnumerable<PiEasyMissionWeb.Models.MemberModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyTemplateUser.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create","Bid")
</p>
<table class="table">
    <h2>  Members With The skill that you search </h2>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
       
       
        <td>
            <div class="btn-block">
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </div>
                     |
            @Html.ActionLink("Contact it", "Contacter")
        </td>
    </tr>
}

</table>
                      <p>
                          @Html.ActionLink("Return To Your Bids", "Index","Bid")
                      </p>
